.greetings {
	color: #F1F0EA;
	font-family: "Poppins", Helvetica;
  	font-size: 16px;
  	font-weight: 600;
  	height: 24px;
  	margin: 10px auto;
}

.welcome {
	color: #f1f0ea;
  	font-family: "Poppins-Bold", Helvetica;
  	font-size: 40px;
  	font-weight: 700;
  	height: 60px;
}

.cardSaldo{
    box-shadow: 0px 4px 50px 0px rgba(141,78,181,0.25);
    backdrop-filter: blur(10px);
}

.containerCuentas {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon-image1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.containerCVU {
	display: flex;
	align-items: center;
}

.cvu {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	background-color: #2C2938;
	color: #F1F0EA;
	font-weight: 600;
	padding: 3px 10px;
	width: fit-content;
	margin-top: -1px;
}

.icon-image2 {
	display: flex;
	align-items: center;
	margin-left: 10px;
	flex-shrink: 0;
}

/*t1*/