@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(46deg, #121832 11.98%, #503853 44.79%, #140F26 78.13%);
    width: 100vw;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

* { 
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
   
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
  


  
